* {
  box-sizing: border-box;
}
body {
  font-family: Georgia, serif;
  padding: 50px;
  margin: 0; }
ul { padding: 0; }
li, button {
  border-radius: 3px;
  border: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

input {
  font-size: 18px;
  font-family: Georgia, serif;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid grey;
}
input:focus { outline:0; }

.Entries {
  margin: -5px;
}

.Entry {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 150px;
  height: 100px;
  margin: 5px;
  overflow: hidden;
}
.Entry-name,
.Entry-phone {
  text-overflow: ellipsis;
  overflow: hidden;
}
.Entry-name {
  font-size: 18px;
  margin-bottom: 8px;
}
.Entry-phone {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}
.Entry:hover {
  border-color: black;
}

.Entry-delete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: -5px;
}
.Entry-delete:hover { color: red; }

.NewEntry {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.NewEntry-title {
  background: #444;
  color: #eee;
  font-size: 10px;
  padding: 3px;
}

.NewEntry-name,
.NewEntry-phone {
  box-sizing: border-box;
  border: none;
  width: 100%;
  font-size: 12px;
  margin-bottom: 5px;
}

.NewEntry-name {
  border-bottom: 1px solid #ccc;
}

.UndoBtn {
  position: relative;
  display: inline-block;
  font-size: 34px;
  text-decoration: none;
  margin-left: 15px;
}
.UndoBtn:after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "undo";
  display: inline-block;
  font-size:10px;
}